.navbar-main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    color: limegreen;
    box-shadow: rgba(0,0,0,0.1)2px 4px 8px;
}
.navbar-main img{
    transform: scale(3.0);
}
nav{
    display: flex;
    justify-content: center;
}
.nav li{
    padding: 0 15px;
    font-weight: 600;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
}
.mobile-nav, #menubar{
    display: none
}
@media only screen and (max-width: 768px) {
    .navbar-main{
        padding: 20px;
    }
    .navbar-main img{
        transform: scale(3.5);
        margin-left: 40px;
    }
    .nav{
        display: none;
    }
    nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 10px
    }
    #menubar{
        display: block;
        color: limegreen;
        transition: 0.3s;
    }
    .show{
        display: block;
    }
    .spin{
        transform: rotate(720deg);
    }
    .mobile-nav{
        padding: 10px
    }
    .mobile-nav li{
        list-style: none;
        padding: 10px 0;
        font-weight: 600;
    }
}
